body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 143, 255);
}
head{
    background-color: rgb(150, 255, 124);
    border-radius: 2px solid black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 20vw;
}
.search{
    width: 30vw;
}